.rodape{
    background-color: #292033;
    padding: 20px 0;
    margin-top: 50px;
    justify-content: space-around;
    text-align: center;
}

.rodape h1{
    font-size: 18px;
}

.rodape img{
height: 25px;
width: 25px;
margin: 10px;
}

.caixa_01{

}